<HTML>
	<head>
		<title>HTML, CSS, and Rails App</title>
		<meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />


		<div style="position: absolute; left: 0; top: 0; right: 0; bottom: 0; background-color:Blue;">

			<div style="width:20%; height:100%;float:left;">

				<table style="border:1px solid white;border-collapse:collapse;">
					<tr>
						<td style="border:1px solid white">
							<font color="#FFFF00">hello</font>
						</td>
						<td style="border:1px solid white">
							<font color="#FFFF00">world</font>
						</td>
					</tr>
					<tr>
						<td style="border:1px solid white">
							<font color="#FFFF00">goodbye</font>
						</td>
						<td style="border:1px solid white">
							<font color="#FFFF00">world</font>
						</td>
					</tr>
				</table>

			</div>

			<div style="width:40%; height:100%;float:left;">
				<h2>Name Form</h2>
				<p><font color="#FFFFFF">____________________________________________________________</font></p>

				<p><font color="#FFFF00">Name</font></p>


				<form name="nameInput" action="html_form_action.asp" method="get">
					&#9733;
					<input type="text" name="firstname"><br>

					<p>
						<font color="#BEBEBE">Enter you name here.</font>
					</p>


					<input type="checkbox" name="option" value="checkout"><font color = "#FFFF00">Check me out</font><br>

					<style type=text/css>
					input.blue {background-color: #4682b4;}
					</style>

					<input  class="blue" type="submit" value="Submit Name">
				</form>
			</div>

			<div style="width:40%; height:100%; float:left;"> 
				<h2>Age Form</h2>
				<p><font color="#FFFFFF">____________________________________________________________</font></p>

				<p><font color="#FFFF00">Age</font></p>


				<form>
					&#x1f4c5;
					<input type="text" name="age"><br>

					<p>
						<font color="#BEBEBE">Enter Age</font>
					</p>


					<input type="checkbox" name="option" value="checkout"><font color = "#FFFF00">Check me out</font><br>

					<input type="submit" name="age" value="Submit Age">
				</form>
			</div> 
		</div>


	</head>

	<body>




<!-- 		<table style="border:1px solid white;border-collapse:collapse;">
			<tr>
				<td style="border:1px solid white">
					<font color="#FFFF00">hello</font>
					</td>
				<td style="border:1px solid white">
					<font color="#FFFF00">world</font>
				</td>
			</tr>
			<tr>
				<td style="border:1px solid white">
					<font color="#FFFF00">goodbye</font>
				</td>
				<td style="border:1px solid white">
					<font color="#FFFF00">world</font>
					</td>
			</tr>
		</table> -->

	</body>
</HTML>

