<HTML>
	<head>
		<h1>Sports News</h1>
	</head>
	<div class="center hero-unit">
		
		<div class="row">
			<div class="span12">

				<div class="row">
					<div class="span9">

						<div class="row">
							<div class="span9">
								<div class="span9">
									<ul class="nav nav-tabs">
										<li class="active">
											<a href="#pane1" data-toggle="tab">Football</a>
										</li>

										<li><a href="#pane2" data-toggle="tab">Basketball</a>
										</li>

										<li><a href="#pane3" data-toggle="tab">Baseball</a>
										</li>

										<li><a href="#pane4" data-toggle="tab">Soccer</a>
										</li>
									</ul>
									<div class="tab-content">
										<div id="pane1" class="tab-pane active">
											<h4>Football News</h4>
											<pre>Football!</pre>
										</div>
										<div id="pane2" class="tab-pane">
											<h4>Basketball News</h4>
											<pre>Basketball!</pre>
										</div>
										<div id="pane3" class="tab-pane">
											<h4>Baseball News</h4>
											<pre>Baseball!</pre>
										</div>
										<div id="pane4" class="tab-pane">
											<h4>Soccer</h4>
											<pre>Soccer!</pre>
										</div>
									</div><!-- /.tab-content -->
								</div>

								<div class="span9">
									<span class="label label-important">Requirements</span>

									<table class="table table-striped" style="border:1px solid white;border-collapse:collapse;">
										<thead>
											<tr>
												<th style="width: 90%">Description</th>
												<th style="width: 10%">Points</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>Use only bootstrap</td>
												<td>5</td>
											</tr>
											<tr>
												<td>Use hero-unit</td>
												<td>1</td>
											</tr>
											<tr>
												<td>bootstrap "grid"</td>
												<td>3</td>
											</tr>
											<tr>
												<td>bootstrap rows</td>
												<td>1</td>
											</tr>
											<tr>
												<td>Sidebar user-defined styles</td>
												<td>2</td>
											</tr>
											<tr>
												<td>Sidebar rounded corners</td>
												<td>2</td>
											</tr>
									</table>
								</div>

								<div class="span9">
									<span class="label label-success">Notes</span>
									<p>These are some notes.</p>
								</div>
							</div>
						</div>

					</div>
					<div class="span3">
						<div class="well sidebar-nav" style="background: hsl(270,100%,50%">
							<li class="nav-header">Sidebar</li>
							Bootstrap was made to not only look and behave great in the latest desktop browsers (as well as IE7!), but in tablet and smartphone browsers via responsive CSS as well.
							<span class="badge badge-info">info</span>
							Built at Twitter by @mdo and @fat, Bootstrap utilizes LESS CSS, is compiled via Node, and is managed through GitHub to help nerds do awesome stuff on the web.
							<span class="badge badge-info">info</span>
						</div>
					</div>
				</div>

			</div>
		</div>
	</HTML>