<div class="well sidebar-nav" style="background: hsl(270,100%,50%">
	<li class="nav-header">Sidebar</li>
	<font color="#0088CC">
		Bootstrap was made to not only look and behave great in the latest desktop browsers (as well as IE7!), but in tablet and smartphone browsers via responsive CSS as well.
		<span class="badge badge-info">info</span>
		Built at Twitter by @mdo and @fat, Bootstrap utilizes LESS CSS, is compiled via Node, and is managed through GitHub to help nerds do awesome stuff on the web.
		<span class="badge badge-info">info</span>
	</font>
</div>