<!DOCTYPE html>
<HTML>
	<head>
		<h1>Sports News</h1>
		<link href="/assets/bootstrap.css" rel="stylesheet" type="text/css"/>
		<link href="/assets/google-code-prettify/prettify.css" rel="stylesheet">
		<link href="/assets/bootstrap.css" rel="stylesheet" type="text/css">
		<link href="/assets/boostrap-responsive.css" rel="stylesheet" type="text/css">
		<link href="/assets/docs.css" rel="stylesheet" type="text/css">
	</head>
	<body>
		<div class="center hero-unit">
			<div class="page-header">
				<h1>Sports News</h1>
			</div>

			<div class="row">
				<div class="span12">

					<div class="row">
						<div class="span9">

							<div class="row">
								<div class="span9">
									<div class="span9">
										<ul class="nav nav-tabs">
											<li class="active">
												<a href="#pane1" data-toggle="tab">Football</a>
											</li>

											<li><a href="#pane2" data-toggle="tab">Basketball</a>
											</li>

											<li><a href="#pane3" data-toggle="tab">Baseball</a>
											</li>

											<li><a href="#pane4" data-toggle="tab">Soccer</a>
											</li>
										</ul>
										<div class="tab-content">
											<div id="pane1" class="tab-pane active">
												<h4>Football News</h4>
												<h1>
													<%= image_tag("http://img.bleacherreport.net/img/images/photos/002/053/923/hi-res-158604075_crop_exact.jpg?w=650&h=440&q=75") %>
													
												</h1>
												<p>
													
												</p>
											</div>
											<div id="pane2" class="tab-pane">
												<h4>Basketball News</h4>
												<h1>
													<%= image_tag("http://thebestten.files.wordpress.com/2009/11/michael_jordan014.jpg?w=250&h=300") %>
												</h1>
												<p>
													
												</p>
											</div>
											<div id="pane3" class="tab-pane">
												<h4>Baseball News</h4>
												<h1>
													<%= image_tag("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR2iCIQhKVgaPztRktABn922gsbxsleS9r7WlxvAYNdQtctM4Rb") %>
												</h1>
												<p>
													
												</p>
											</div>
											<div id="pane4" class="tab-pane">
												<h4>Soccer News</h4>
												<h1>
													<%= image_tag("http://hdwallpaper2013.com/wp-content/uploads/2013/01/Lionel-Messi-2013-LionelMessi-HD-Wallpaper.jpg") %>
												</h1>
												<p>
													
												</p>

											</div>
										</div><!-- /.tab-content -->
									</div>

									<div class="span9">
										<span class="label label-important">Requirements</span>

										
											<thead>
												<tr>
													<th style="width: 90%">Description</th>
													<th style="width: 10%">Points</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td>Use only bootstrap</td>
													<td>5</td>
												</tr>
												<tr>
													<td>Use hero-unit</td>
													<td>1</td>
												</tr>
												<tr>
													<td>bootstrap "grid"</td>
													<td>3</td>
												</tr>
												<tr>
													<td>bootstrap rows</td>
													<td>1</td>
												</tr>
												<tr>
													<td>Sidebar user-defined styles</td>
													<td>2</td>
												</tr>
												<tr>
													<td>Sidebar rounded corners</td>
													<td>2</td>
												</tr>
											</table>
										</div>

										<div class="span9">
											<span class="label label-success">Notes</span>
											<p>

											</p>
										</div>
									</div>
								</div>

							</div>
							<div class="span3">
								<div class="well sidebar-nav" style="background: hsl(270,100%,50%">
									<li class="nav-header">Sidebar</li>
									<font color="#0088CC">
										
									</font>
								</div>
							</div>
						</div>

					</div>
				</div>

				<script src="http://code.jquery.com/jquery-latest.js"></script>
				<script src="/assets/bootstrap.js"></script>
				<link href="/assets/bootstrap.css" rel="stylesheet" type="text/css">

				<script src="/twitter-bootstrap/twitter-bootstrap-v2/docs/assets/js/jquery.js"></script>
				<script src="/twitter-bootstrap/twitter-bootstrap-v2/docs/assets/js/bootstrap-tab.js"></script> 

				<script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
				<script src="/assets/jquery.js"></script>
			</body>
		</HTML>